* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
}

.main-head {
  background: grey;
  min-height: 10vh;
}

.nav {
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}

ul {
  display: flex;
  flex: 1 1 28rem;
  justify-content: space-around;
}

li {
  list-style: none;
}

h1 {
  font-family: "Comfortaa", cursive;
  color: white;
  flex: 2 1 28rem;
}

a {
  text-decoration: none;
  color: white;
}
